@charset "utf-8";
/* CSS Document */
@font-face{ 
	font-family : 'NanumSR';
	src : url('./NanumSquareRoundR.woff'); 
} 


.login_w {width:800px; margin:120px auto 0 auto; font-family : 'NanumSR'; font-weight:bold !important;}
.login_w .logo {text-align:center; margin-bottom:10px; }
.login_w h1{text-align:center; font-size:20px; margin-bottom:30px; }
.login_w .login_bg { background-image:url(../img/login_bg.png); background-position:0 0; background-repeat:no-repeat; height:400px;}
.login_w .copyright { color:#7e7e7e; text-align:center; margin-top:30px;}
.login_w .login_box { width:300px; padding:50px 0 0 445px; }


.login_w .login_box dt { line-height:20px; font-weight:bold; color:#4d4d4d; font-size:13px;}
.login_w .login_box dd {border-bottom:1px solid #d7d7d7;}
.login_w .login_box .id_icon { background-image:url(../img/id_icon.png); background-position:0 0; background-repeat:no-repeat; padding-left:30px;}
.login_w .login_box .pass_icon {background-image:url(../img/pass_icon.png); background-position:0 0; background-repeat:no-repeat; padding-left:30px; margin-top:20px;}
.login_w .login_box .idpass_text { color:#666666; font-size:13px; margin-top:20px; line-height:1.2em;}
.login_w .login_box .idpass_text span { color:#2380c7; text-decoration:underline}
.login_w .login_box .login_checkbox {padding:15px 0 20px 0px; }
.login_w .login_box .input100 {	
	  display: block;
	  width: 100%;
	  background: #fff;
	  height: 35px;
	  padding: 0 5px;
	  border:none;
  }

.login_w .login_box .input-checkbox100 {
  display: none;
}

.login_w .login_box .label-checkbox100 {
  font-size: 13px;
  color: #999999;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.login_w .login_box .label-checkbox100::before {
  content: "\f00c";
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6e6e6;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login_w .login_box .input-checkbox100:checked + .label-checkbox100::before {
	background-image:url(../img/checkbox_img.png); background-position:4px 6px; background-repeat:no-repeat;
}

.login_w .login_box .login_btn {
    color: #fff;
	font-size:13px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 300px;
    height: 35px;
    background-color: #2380c7;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
	cursor: pointer;
}

.login_w .login_box button {
    outline: none !important;
    border: none;
    background: transparent;
}
.login_w .login_box .login_btn:hover {
  background-color: #57b846;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: rgb(255, 255, 255) !important;}