@charset "utf-8";
/* CSS Document */

#popup_w_big { min-width:866px; position:relative; }
#popup_w { min-width:720px; position:relative; }
.popup_title { padding:15px 20px; background-color:#2380c7; color:#fff; margin-bottom:20px; font-size:16px; font-weight:bold;}

.popup_bottom {margin:10px 20px 20px 20px; position:relative; height:35px;}
.popup_bottom .right{ position:absolute; top:0; right:0;}

/* 테이블_th세로_1 no-margin */
.popup_tblType00{ border-top:1px solid #e4e4e4; border-right:1px solid #e4e4e4;}
.popup_tblType00 table {width:100%; border-collapse: collapse; }
.popup_tblType00 th, .popup_tblType01 td{color:#333;padding: 0; line-height:18px; border-bottom:1px solid #e4e4e4; }
.popup_tblType00 th{background:linear-gradient( to bottom, #fff, #f9f9f9 );  font-weight: bold; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; }
.popup_tblType00 td {white-space: normal;line-height:18px; text-align: left;}
.popup_tblType00 td.line_left {border-left:1px solid #e4e4e4; color:#fff;}
.popup_tblType00 img {vertical-align: middle; cursor: pointer;}


/* 테이블_th세로_1 */
.popup_tblType01{ margin:0 20px; border-top:1px solid #e4e4e4; border-right:1px solid #e4e4e4;}
.popup_tblType01 table {width:100%; border-collapse: collapse; }
.popup_tblType01 th, .popup_tblType01 td{color:#333;padding: 0; line-height:18px; border-bottom:1px solid #e4e4e4; }
.popup_tblType01 th{background:linear-gradient( to bottom, #fff, #f9f9f9 );  font-weight: bold; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4; }
.popup_tblType01 td {white-space: normal;line-height:18px; text-align: left;}
.popup_tblType01 td.line_left {border-left:1px solid #e4e4e4; color:#fff;}
.popup_tblType01 img {vertical-align: middle; cursor: pointer;}

/* 테이블_th가로_01 */
.popup_tblType02{ margin:0 20px;}
.popup_tblType02 table {width:100%; border-collapse: collapse; }
.popup_tblType02 th, .popup_tblType02 td{text-align: center;color:#333;padding: 0; line-height:18px; border-left:1px solid #e4e4e4; }
.popup_tblType02 th{background:linear-gradient( to bottom, #fff, #f9f9f9 );  font-weight: bold; border-bottom:1px solid #e4e4e4;}
.popup_tblType02 td {white-space: normal;border-bottom:1px solid #e4e4e4; line-height:18px; }
.popup_tblType02 td.line_left {border-left:1px solid #e4e4e4; color:#fff;}
.popup_tblType02 .border_none {border-left:none;}
.popup_tblType02 td.text_left { text-align:left;}
.popup_tblType02 td.bottom_bg { background-color:#d5dae1}
.popup_tblType02 img {vertical-align: middle; cursor: pointer;}


/* 테이블_th가로_02 */
.popup_tblType03{ margin:0}
.popup_tblType03 table {width:100%; border-collapse: collapse; }
.popup_tblType03 th, .popup_tblType03 td{text-align: center;color:#333;padding: 0; line-height:18px; border-left:1px solid #e4e4e4; }
.popup_tblType03 th{background:linear-gradient( to bottom, #fff, #f9f9f9 ); font-weight: bold; border-bottom:1px solid #e4e4e4; border-top:1px solid #e4e4e4;}
.popup_tblType03 td {white-space: normal;border-bottom:1px solid #e4e4e4; line-height:18px; }
.popup_tblType03 .line_left {border-left:1px solid #e4e4e4 !important; }
.popup_tblType03 th:first-child, .popup_tblType03 td:first-child{border-left:0}
.popup_tblType03 .border_none {border-left:none;}
.popup_tblType03 td.text_left { text-align:left;}
.popup_tblType03 img {vertical-align: middle; cursor: pointer;}

/* 테이블_th가로_03 */
.popup_tblType04{ margin:0}
.popup_tblType04 table {width:100%; border-collapse: collapse; }
.popup_tblType04 th, .popup_tblType04 td{color:#333;padding: 0; line-height:18px;}
.popup_tblType04 th{background:linear-gradient( to bottom, #fff, #f9f9f9 ); font-weight: bold; border-bottom:1px solid #e4e4e4; color:#333;text-align: center;border-top:1px solid #e4e4e4;}
.popup_tblType04 td {white-space: normal;border-bottom:1px solid #e4e4e4; line-height:18px; }

/* 테이블_th세로_2 */
.popup_tblType05{ margin:0 20px; border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.popup_tblType05 table {width:100%; border-collapse: collapse; }
.popup_tblType05 th, .popup_tblType05 td{color:#333;padding: 0; line-height:18px; border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4; }
.popup_tblType05 th{background:linear-gradient( to bottom, #fff, #f9f9f9 ); font-weight: bold; border-left:1px solid #e4e4e4; border-right:1px solid #e4e4e4;}
.popup_tblType05 td {white-space: normal;line-height:18px; text-align: left; height:62px;}
.popup_tblType05 td.line_left {border-left:1px solid #e4e4e4; color:#fff;}
.popup_tblType05 img {vertical-align: middle; cursor: pointer;}

.white_btn {
    color: #333;
	font-size:13px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 0 10px;
    min-width: 80px;
    height: 30px;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
	cursor: pointer;
	display:inline-block;
	line-height:22px;	
	background-color: #fff;
	border:1px solid #ccc;
	}

.white_btn:hover {
  background-color: #333;
  border:1px solid #333;
  color:#fff;
 
}

.white_btn_s {
    color: #333;
	font-size:13px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 0 10px;
    min-width: 40px;
    height: 22px;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
	cursor: pointer;
	display:inline-block;
	line-height:18px;	
	background-color: #fff;
	border:1px solid #ccc;
	 vertical-align:middle;
	}

.white_btn_s:hover {
  background-color: #333;
  border:1px solid #333;
  color:#fff;
}
.popup_checkbox1 {display:inline-block; vertical-align: middle; margin-left:5px;}
.span span {display:inline-block;}
#popup_w_big .subtitle {padding:0 20px 10px 20px;}
.modal-body .subtitle {padding:0 0 10px 0;}
.m20 { margin-top:20px;}
.mb10 {margin-bottom:10px;}
textarea.h40 {height:40px; width:100%;}
textarea.h70 {height:70px; width:100%;}
input.inputT100{width:99%;height:20px;padding:0 5px;border:1px solid #dedede;vertical-align:middle; display:inline-block;}
.radio_w  label {display:inline-block; margin-right:5px;}
.pass_box {display: inline-block; padding:3px 3px; width:150px; background-color:#2b9a3e; color:#fff; text-align:left; line-height:16px;}
.popup_w { overflow:hidden;}
.popup_w .popup_left50{ width:50%; float:left;}
.popup_w .popup_100{ width:100%; float:left;}
.popup_w .popup_right50{ width:50%; float:right}
.popup_left50 { width:50%; float:left;}
.popup_100 { width:100%; float:left;}
.popup_right50 { width:50%; float:right}
.box_line {border:2px solid #ccc; padding:10px; margin:20px; background-color:#fff;}
.box_text p {line-height:18px;}
.box_line h2 {font-weight:bold; margin-top:10px; color:#333;}
.box_line h3 {font-weight:bold; margin:5px 0; color:#333;}
.file_text p {line-height:22px;}
.sin li {display:inline-block; width:50%; float:left;}
.sin li input{width:100%; text-align:center;}
.sin li .sign-name{font-weight:bold; color: #2380c7; font-size: 15px; font-style: italic;}
.sin li img {width:50px;}
.red_text {color:#ff5f5f; margin-right:4px;}

.btn_left_1 {background-image:url(../img/next_1.png); background-position:center; background-repeat:no-repeat; width:22px; height:22px;background-color:#fff;cursor: pointer; display:inline-block;border-radius:2px;}
.btn_left_1:hover {background-color:#2380c7; background-image:url(../img/next_hover1.png); background-position:center; background-repeat:no-repeat;}
.btn_right_1 {background-image:url(../img/before_1.png); background-position:center; background-repeat:no-repeat; width:22px; height:22px;background-color:#fff;cursor: pointer; display:inline-block;border-radius:2px;}
.btn_right_1:hover {background-color:#2380c7; background-image:url(../img/before_hover1.png); background-position:center; background-repeat:no-repeat;}
.btn_left_2 {background-image:url(../img/next_2.png); background-position:center; background-repeat:no-repeat; width:22px; height:22px;background-color:#fff;cursor: pointer; display:inline-block;border-radius:2px;}
.btn_left_2:hover {background-color:#2380c7; background-image:url(../img/next_hover2.png); background-position:center; background-repeat:no-repeat;}

.sin_bg {background-color:#fff; padding:10px; margin-right:20px; height:120px; text-align:center;}
.sin_bg img {height:120px;}

#print_bg { background-color:#fff;}
#print_bg h1 {text-align:center; font-size:20px; margin-top:20px;}
#print_bg .box_line {border: none; height:100%; margin:0; padding:0;}
#print_bg .box_line h2 { margin:70px 0 0 30px; font-size:24px;}
#print_bg .box_line .body_text { margin:40px; overflow:hidden;}
#print_bg .box_line .body_text p { margin-bottom:30px;  line-height:20px; }
#print_bg .box_line .body_text_1 { margin:0px 40px; overflow:hidden;}
#print_bg .box_line .body_text_1 p {line-height:20px; }
#print_bg .box_line .text_right { margin:40px; overflow:hidden; text-align:right;}
#print_bg .box_line .text_right p {line-height:20px;}